// @import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap.css';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.main-container {
  padding-bottom: 20rem;
}

.clickable{
  cursor: pointer;
}

.main-header {
  height: 85px;
  background-color: black;
  padding: 15px;
  
  .text-address-container, .text-email-container {
    text-align: center;
  }
}

.text-address, .text-email {
  font-size: 10px;
}

.logo-header {
  border-bottom: 1px solid #f3f3f3;
  height: 200px;
}

.carousel-caption {
  background-color: #7e1e17;
  opacity: 0.8;
  right: 0;
  left: 0;
  bottom: 0;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mt-55 {
  margin-top: 5rem;
}

.wsp-button-wrapper {
  z-index: 0;
  right: 20px;
  left: auto;
  display: initial;
  position: fixed;
  bottom: 15px;
  font-size: 16px;
  transition: bottom 0.2s ease 0s;
}

.wsp-logo-container {
  height: 70px;
  width: 70px;
  background-color: rgb(37, 211, 102);
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgb(60 60 60 / 40%);
  transition: box-shadow .2s;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.properties-container{
  background-color: #7e1e17;
  padding: 5rem 2rem;
  margin-top: 5rem;
}

.property-photo {
  margin-top: 15px;
}

.footer-container {
  background-color: #000;

  .main-footer {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    .social-text {
      vertical-align: super;
      font-size: 10px;
    }
  }
}

.location-map-container {
  margin-top: 4rem;
}

.social-link {
  text-decoration: none;
}

@media (min-width: 700px) {
  .main-header {
    height: 55px;
    background-color: black;
    padding: 15px;
  }

  .text-address-container, .text-email-container {
    text-align: end;
  }

  .text-address, .text-email {
    font-size: 16px;
  }

  .footer-container {

    .main-footer {
      padding-top: 7rem;
      padding-left: 7rem;
      padding-right: 7rem;
      padding-bottom: 5rem;
  
      .social-text {
        vertical-align: super;
        font-size: 14px;
      }
    }
  }

  .location-map-container {
    margin-top: 0;
  }
}

.main-navbar {
  border-bottom: 1px solid #f3f3f3;
}

.property-card {
  text-decoration: none;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}