// @import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap.css';

.main-container {
  padding-bottom: 20rem;
}

.clickable{
  cursor: pointer;
}

.main-header {
  height: 85px;
  background-color: black;
  padding: 15px;
  
  .text-address-container, .text-email-container {
    text-align: center;
  }
}

.text-address, .text-email {
  font-size: 10px;
}

.logo-header {
  border-bottom: 1px solid #aeaeae;
  height: 200px;
}

.carousel-caption {
  background-color: #7e1e17;
  opacity: 0.8;
  right: 0;
  left: 0;
  bottom: 0;
}

.mt-55 {
  margin-top: 5rem;
}

.wsp-button-wrapper {
  z-index: 0;
  right: 20px;
  left: auto;
  display: initial;
  position: fixed;
  bottom: 15px;
  font-size: 16px;
  transition: bottom 0.2s ease 0s;
}

.wsp-logo-container {
  height: 70px;
  width: 70px;
  background-color: rgb(37, 211, 102);
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgb(60 60 60 / 40%);
  transition: box-shadow .2s;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.properties-container{
  background-color: #7e1e17;
  padding: 2rem;
}

@media (min-width: 700px) {
  .main-header {
    height: 55px;
    background-color: black;
    padding: 15px;
  }

  .text-address-container, .text-email-container {
    text-align: end;
  }

  .text-address, .text-email {
    font-size: 16px;
  }
}