@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap.css';

.clickable{
  cursor: pointer;
}

.main-header {
  height: 85px;
  background-color: black;
  padding: 15px;
  
  .text-address-container, .text-email-container {
    text-align: center;
  }
}

.text-address, .text-email {
  font-size: 10px;
}

.logo-header {
  border-bottom: 2px solid #aeaeae;
}

@media (min-width: 700px) {
  .main-header {
    height: 55px;
    background-color: black;
    padding: 15px;
  }

  .text-address-container, .text-email-container {
    text-align: end;
  }

  .text-address, .text-email {
    font-size: 16px;
  }
}